/* $Id: grid12-960-rtl.css,v 1.1.2.1 2009/12/02 00:47:46 sociotech Exp $ */

/* Layout - 12 column grid, 960px fixed width, 20px gutters
-------------------------------------------------------------- */
/* block indents */
.grid12-indent-1 {margin-right: 82px;}
.grid12-indent-2 {margin-right: 164px;}
.grid12-indent-3 {margin-right: 246px;}
.grid12-indent-4 {margin-right: 328px;}
.grid12-indent-5 {margin-right: 410px;}
.grid12-indent-6 {margin-right: 492px;}
.grid12-indent-7 {margin-right: 574px;}
.grid12-indent-8 {margin-right: 656px;}
.grid12-indent-9 {margin-right: 738px;}
.grid12-indent-10 {margin-right: 820px;}
.grid12-indent-11 {margin-right: 902px;}

/* hack to fix node-top & node-bottom being off-grid */
#content-content .node .first .inner {
  margin-left: 20px;
}
